@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-wrapper {
  position: fixed;
  /* width: 100%;
  height: 100%; */
  overflow: hidden;
  background-color: #111827;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.marquee-content {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
  gap: 2.5rem; /* gap-10 */
}





@layer components {
  .container-wrapper {
    @apply w-[95%] sm:w-[90%] md:w-[85%] lg:w-[80%]   font-sans max-w-3xl mx-auto;
  }

  .card {
    @apply bg-blue-100 py-2 px-9 mb-4 inline-block mx-auto text-center;
  }

  .transition-custom {
    @apply transition duration-300 ease-in-out transform  hover:bg-gray-100;
  }
}

*{
 font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;;
}

body {
  background-color: rgb(216, 213, 213);

}
